.container {
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    display: "flex";
    flex-wrap: "wrap";
    justify-content: "space-evenly";
    box-shadow: 0 10px 10 px black;

    &:hover {
        box-shadow: 0 10px 10px white;
    }
}

.container img {
    width: 130px;
    box-shadow: 0 10px 10px black;
    border-radius: 5px;
}

.container button {
    background-color: black;
    margin: 10px;

    &:hover {
        background-color: darkcyan;
    }
}